#search-list {
    position: absolute;
    z-index: 100;
    background-color: white;
    list-style-type: none;
  }

  #search-list li a {
    text-decoration: none;
    color: black;
  }

ul {
  list-style-type: none;
}